body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.yel-color {
    color: rgb(235, 235, 21);
}

.flexible-con {
    display: flex;
    margin-bottom: 100px;
}

.half-w {
    width: 50%;
    padding-left: 2%;
}

.half-w img {
    width: 80%;
}

.link-b {
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 10px 40px;
    color: rgb(9, 37, 37);
    font-weight: 700;


}

.link-c {
    text-decoration: none;
    background-image: linear-gradient(green, pink);
    padding: 10px 40px;
    font-weight: 700;
    color: black;
}

.top-1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.gre-color {
    color: green;
}